## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacations_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacations_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Mataura,NZ,46.06,light rain,-46.1927,168.8643,Ellie's Villa
1,7,Ushuaia,AR,40.66,few clouds,-54.8000,-68.3000,Albatross Hotel
2,10,Tasiilaq,GL,39.36,broken clouds,65.6145,-37.6368,The Red House
3,26,Leningradskiy,RU,43.90,broken clouds,69.3833,178.4167,Gostinitsa
4,30,Busselton,AU,49.26,overcast clouds,-33.6500,115.3333,Observatory Guest House
5,35,Longyearbyen,SJ,35.44,few clouds,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
6,40,Bluff,NZ,47.50,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
7,50,Khatanga,RU,40.42,overcast clouds,71.9667,102.5000,"""Khatanga"""
8,57,Tinskoy,RU,49.75,overcast clouds,56.1525,96.9161,"Kemping ""Turist"""
9,72,Punta Arenas,CL,44.71,broken clouds,-53.1500,-70.9167,Hotel Hain

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacations_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacations_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
#max_temp = vacations_df["Max Temp"]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure (fig)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacations_df.loc[vacations_df["City"] == "Ylivieska"]
vacation_end = vacations_df.loc[vacations_df["City"] == "Muhos"]
vacation_stop1 = vacations_df.loc[vacations_df["City"] == "Kuusamo"]
vacation_stop2 = vacations_df.loc[vacations_df["City"] == "Vardo"] 
vacation_stop3 = vacations_df.loc[vacations_df["City"] == "Berlevag"]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)

In [10]:
# check itinerary dataFrame results
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,351,Ylivieska,FI,49.87,overcast clouds,64.0833,24.5500,hotel KÃ¤enpesÃ¤
1,139,Kuusamo,FI,48.24,clear sky,65.9667,29.1833,Hotel Kuusanka
2,241,Vardo,NO,49.98,broken clouds,70.3705,31.1107,VardÃ¸ Hotel AS
3,102,Berlevag,NO,49.95,overcast clouds,70.8578,29.0864,Kvitbrakka

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather and Max Temp</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))